
.icon-wrap img {
    height: 40px;
    margin-right: 15px;
    padding-top: 10px;
}

body  {
    font-family: 'Roboto', sans-serif;
}

#hero {
    height: 100vh;
    min-height: 100vh;
    margin-top: -70px;
    background: url(https://images.unsplash.com/photo-1527234639945-70d78416bd7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1319&q=80) fixed;
    background-size: cover;
    background-position: center top;
    padding: 5% 0 0;
}

#name {
    font-family: 'Petit Formal Script', cursive;
    text-align: center;
    color: white;
    padding: 5% 0 0 ;
    position: relative;
    top: 50px;
}

#description {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    position: relative;
    top: 50px;
}

#about {
    background-color: #eee;
    padding: 50px;  
}

#profilePic {
    height: 50vh;
    float: left;
    margin-right: 50px;
    margin-bottom: 30px;
    border: 10px solid white;
}

#technical {
    padding: 50px; 
}

#projects {
    padding: 50px; 
    background-color: #eee;
}

#testimony {
    padding: 50px; 
}

#contact {
    padding: 50px; 
    background-color: #eee;
}

@media all and (max-width: 991px) {
    /* drop down background */
    nav.navbar.navbar-expand-lg.navbar-dark {
        background-color: #846a5a;

    }
    /* social icon in drop down */
    /* ul.navbar-nav.ml-auto {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    } */

    
}
/* Small devices  */
@media (max-width: 767px) { 
   #name {
       font-size: 40px;
   }

   #description {
       font-size: 15px;
   }

}

/* Medium devices */
@media (max-width: 991px) { 
    nav.navbar.navbar-expand-lg.navbar-dark {
        background-color: #846a5a;
 }

}